@import url('https://fonts.googleapis.com/css2?family=Acme&family=Carter+One&family=Cookie&family=Island+Moments&family=PT+Serif+Caption&family=Playfair+Display+SC:wght@400;700;900&family=Red+Hat+Display:wght@700;900&display=swap');

/* UNIVERSAL SELECTOR STYLING STARTS HERE */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* BODY STYLING STARTS HERE */
body{
	background-image: url(./Background.jpg);
	background-repeat: no-repeat;
	background-size: 1515px 1500px;
	background-position: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: bold;
	text-align: center;
	color: white;
}

/* MAIN HEADER STYLING STARTS HERE */
h1{
	margin-top: 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	letter-spacing: 2px;
	font-size: 50px;
	font-family: 'Geneva', Verdana, sans-serif;
}

/* SUBHEADER STYLING STARTS HERE */
h2{
	font-size: 50px;
	margin-top: 0;
	margin-bottom: 20px;
}

/* BUTTON STYLING STARTS HERE */
button{
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: goldenrod;
	color: white;
	text-transform: uppercase;
	width: 250px;
	margin: auto;
	display: flex;
	justify-content: center;
	margin-bottom: 6px;
	margin-top: 6px;
	border-radius: 5px;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 23px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* PARAGRAPH STYLING STARTS HERE */
p{
	color: white;
	font-size: 21px;
	letter-spacing: 2px;
}

/* FOOTER STYLING STARTS HERE */
#main-footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 20px;
	text-align: center;
	color: white;
	margin-bottom: 10px;
	letter-spacing: 2px;
}

/* HOVER STYLING STARTS HERE */
button:hover{
	background-color: rgb(126, 91, 5);
	color: white;
	transition: 1s ease-in-out;
}

/* MEDIA QUERY STYLING STARTS HERE */
@media screen and (max-width: 580px) {
	h1{
		letter-spacing: 2px;
		font-size: 30px;
	}

	h2{
		font-size: 30px;
	}

	button{
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: goldenrod;
		width: 200px;
		font-size: 20px;
	}

	p{
		font-size: 20px;
	}

	#main-footer{
		font-size: 10px;
	}
}

@media screen and (max-width: 360px) {
	h1{
		letter-spacing: 1px;
		font-size: 22px;
	}

	h2{
		font-size: 20px;
	}

	button{
		width: 120px;
		font-size: 13px;
	}

	p{
		font-size: 10px;
	}

	#main-footer{
		font-size: 5px;
	}
}